.calc-row {
    /* flex: 2; */
    /* max-width: 200px; */
    width: 100%,

}
.calc-input {
    width: 100%;
}

.calc-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
}

.calc-card {
    display: flex;
    /* flex: 1, */
}

.calc-btn {
    width: 15vw;
    height: 15vh;
    color: white;
    font-weight: bold;
    font-family: monospace;

    /* height: auto; */
    


    /* background-color: rgb(97, 97, 72) */

}

.calc-border {
    border: 2px solid black; 
    /* margin-top: 20px; */
         /* background-color: black; */

}

#MainContainer{
    /* background-color: black; */
    /* width: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: black; */
}

#container{
    width:auto;
    background-color: black;

}

.calc-grid {
    display: grid;
    /* display: flex; */
    grid-template-areas: 
    "display1 display1 display1 display1"
    "ac ac divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals"
;
    /* grid-gap: 1px; */
    align-items: center;
    justify-content: center;
    font-family: monospace;

        /* background-color: black; */

}

#display1 {
    grid-area: display1;
    /* border: solid black 1px; */
    background-color: black;
    color:white;
    text-align: end;
}

#output {
    color: yellow;
    font-family: monospace;

}

#result {
    font-family: monospace;
    font-weight: 300;
}

#clear {
    grid-area: ac;
    background-color: red;
    color:white;
    width:100%;
}

#one {
    grid-area: one;
    background-color: darkslategray;
}
#two {
    grid-area: two;
    background-color: darkslategray;
}

#three {
    grid-area: three;
    background-color: darkslategray;

}

#four {
    background-color: darkslategray;

    grid-area: four;
}

#five {
    grid-area: five;
    background-color: darkslategray;

}

#six {
    grid-area: six;
    background-color: darkslategray;

}
#seven {
    grid-area: seven;
    background-color: darkslategray;

}

#eight {
    grid-area: eight;
    background-color: darkslategray;

}

#nine {
    grid-area: nine;
    background-color: darkslategray;

}

#subtract {
    grid-area: subtract;
    background-color: gray;

}

#multiply {
    grid-area: multiply;
    background-color: gray;

}

#equals {
    grid-area: equals;
    background-color: gray;
    height: 100%;

}
#equals button{
    height: 100%;
    background-color: rgb(190, 181, 181);
}

#decimal {
    grid-area: decimal;
    background-color: steelblue;
    /* height: 100%; */

}

#divide {
    grid-area: divide;
    background-color: gray;

}

#add {
    grid-area: add;
    background-color: gray;

}

#zero {
    grid-area: zero;
    background-color: darkslategray;
    width:100%;

}


/* #output {
color:white;

} */


#outputs {
color:white;

}
#output2 {
color:white;

}
